
/* * {border: 2px solid blue;} */

/* Fonts - Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Zen+Antique+Soft&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1f7c8c;
    --secondary-color: #24c7cf;
    --accent1-color: #d5e0ee;
    --accent2-color: #7d8c96;
    --accent3-color: #d57dbc;


    /* change the values below to your chosen font(s) */
    --heading-font: "Zen Antique Soft, Noto Sans JP, Helvetica, sans-serif";
    --paragraph-font: "Noto Serif JP, Noto Sans JP, Helvetica, sans-serif";

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #24c7cf;  /* headlines on a white background */ 
    --headline-color-on-color: #d5e0ee; /* headlines on a colored background */ 
    --paragraph-color-on-white: #1f7c8c; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #d5e0ee; /* paragraph text on a colored background */ 
    --paragraph-background-color: #7d8c96;
    --nav-link-color: #24c7cf;
    --nav-background-color: #1f7c8c;
    --nav-hover-link-color: #d57dbc;
    --nav-hover-background-color: #d5e0ee;
}

body {
    text-align: center;
    /* background: #000000; */

}

/* HEADER AND NAV STARTS HERE -------------------------------------------------------- */



header {
    background: #1f7c8c;

    /* display:flexbox; */
}

nav {
    /* display: inline-block; */
    display: flex;
    /* border: 2px solid red; */
}

.home {
    /* display: inline-block; */
    
    margin-top: 10px;
    margin-left: 15px;
}


.site_logo {
    width: 80px;

}

.home_logo_label {
    margin-top: -23px;
    z-index: 2;
    color: white;

}

.header_buttons {
    /* display: inline; */
    margin-top: 40px;
    width: 80%;
    text-align: right;
    /* display:flex; */
}

.button-box-nav {
    display: inline;

    vertical-align: middle;
        
    background-color: #7d8c96;
    /* color: #0; */
    /* text-decoration: none; */
    
    font-size: 20px;
    padding: 5px 12px;
    border-radius: 10px;
    
    margin: 15px;

}

.button-box:hover {
    background-color: #d57dbc;

}

/* MAIN BODY STARTS HERE ---------------------------------------------------------------- */

main {

    /* background: black; */
    

}

h1, h2, h3 {
    font-family:var(--heading-font)
}
h2 {
    text-align: center;
}

p, a {
    font-family:var(--paragraph-font);
}

.image {
    width: 300px;
    display: inline-block;

}

.image_display {
    display: inline-block;
    margin-right: -10%;
}

.centering_image {
    display:inline-block;
    vertical-align: top;
}

.box {
    display:inline-block;
}

.side_image_display {
    display: inline-block;
    margin-right: -10%;
    vertical-align: top;
}

.top_image_display {
    display: block;
    margin-right: -10%;
    width: 100%;
}

    

.image_source {
    margin-top: 5px;
}

.main_logo {
    width: 200px;

}

.textbox {
    display: inline-block;
    background: #24c7cf;
    width: 40%;
    padding: 5px 20px;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
    
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;


}




/* THIS IS THE CATEGORIES SECTION and GRID -------------------------------------------- */

.gridbox {
    
}

.categories {
    /* grid-column: 1/2; */
    display:inline-block;

    margin-right: 20px;
    width: 480px;
    
    margin-bottom: 30px;
    
}

.grid_image {
    /* grid-column: 2/3; */
    display:inline-block;
    vertical-align:top;
    margin-top: 10em;
    
    


    /* text-align: left; */
    /* grid-row: 2/3; */
    /* vertical-align: middle; */
    
}

.media_categories {
    /* align-content:center;
    align-items:center; */
    /* width: 100%; */
    text-align: center;
    background: #24c7cf;
    /* margin-top: 40px; */
    border-width: 1px;
    border-style: solid;
    /* display: inline-block; */
    
}




.category_list {
    display: inline-block;

    width: 40%;
    border-width: 1px;
    border-style:solid;
    background: #7d8c96;
    
}

.category_content {


}




.titles_section {
    display:inline-block;
    width: 20%;
    align-self: center;
    align-content: center;
    margin-bottom: 20px;

}


.grid_container {
    display: flex;
    text-align: center;
    width: 100%;
    
}


.titles_grid {
    display:grid;

    grid-template-columns: auto;
    background: #24c7cf;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

.number_list {
    grid-column: 1;
    text-align: right;
    margin-right: 5px;
}

.titles_list {
    grid-column: 2;
    /* display:inline-block; */
    text-align: left;
    
    /* text-align: center; */
    

}



/* FOOTER STARTS HERE ------------------------------------------------------------ */

footer {
    background: #1f7c8c;
    
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 20px;

}

.copyright {
    width: 100%;
    text-align:left;
    margin-left: 20px;
}

.footer_buttons {
    /* display:inline-block; */
    display:flex;
    /* width: 5000px; */
    
}

.button-box-footer {
    /* display: block; */

    /* vertical-align: middle; */

    background-color: #7d8c96;
        
    font-size: 20px;
    /* padding: 1px 1px; */
    border-radius: 10px;
    width: 100px;
    margin: 15px;
    

}

.button-box-footer:hover {
    background-color: #d57dbc;

}


.social {
    display:flex;
    margin-top:5px;

}

.logo {
    width: 80px;
    margin:4px;
}

/* BEGIN CATEGORY PAGE CSS ------------------------------------------------------ */

.accordion {
    background-color: #eee;
    /* color: #444; */
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    /* border: none; */
    border-width: 1px;
    border-style: solid;
    /* text-align: center; */
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #1f7c8c; 

  }
  
  .panel {
    padding: 0 18px;
    display: none;
    /* background-color: white; */
    background-color: #24c7cf;
    overflow: hidden;
    
  }

/* ACCORDION CSS FOR CATEGORY PAGE ENDS +++++++++++++++++++++++++++++++++++++++++++++++ */






/* END OF LINE */